{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
{% if validlink %}
  <p>{% trans "Enter your new password below to reset your password:" %}</p>
    {% load crispy_forms_field %}
    {% load crispy_forms_tags %}
    {% load crispy_forms_utils %}
    {% load crispy_forms_filters%}
    <div class="container form" >
                <form method="post"  >
                    {% csrf_token %}
                    <h2 class="form-signin-heading">PLEASE SIGN IN</h2>
                    {{ form|crispy }}
                     <input type="submit" value="{% trans 'Set password' %}" />
                </form>
    </div>
{% else %}
  Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a>
{% endif %}
{% endblock %}


{# This is used by django.contrib.auth #}
