{% extends "registration/registration_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{{% block content %}
    {% load crispy_forms_field %}
    {% load crispy_forms_tags %}
    {% load crispy_forms_utils %}
    {% load crispy_forms_filters%}
    <div class="container form" >
                    <form method="post"  >
                        {% csrf_token %}
                        <h2 class="form-signin-heading">CHANGE PASSWORD</h2>
                        {{ form|crispy }}
                    <input type="submit" class="btn btn-danger" value="{% trans 'Change password' %}" />
                    </form>
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}
