{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<p xmlns="http://www.w3.org/1999/html">
    {% blocktrans %}

    {% endblocktrans %}
</p>
    {% load crispy_forms_field %}
    {% load crispy_forms_tags %}
    {% load crispy_forms_utils %}
    {% load crispy_forms_filters%}
    <div class="container form" >
                <form method="post"  >
                    {% csrf_token %}
                    <h2 class="form-signin-heading">PLESE ENTER YOU MAIL</h2>
                    {{ form|crispy }}
                    </br>
                        <p>Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.</p>
                    <input type="submit" class="btn btn-danger btn-block" value="{% trans 'Reset password' %}" />
                </form>
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}
