.auth{
    background-color:seashell;
    width: 100%;
    height: 40px;
    float: right;
    text-align: right;
    float: right;
    opacity: 100%;
}
.navbar,.dropdown-menu{
    background-color: gray !important;
}

.navbar .nav-link ,.dropdown-item{
    text-decoration-color: white !important;
    color: white !important;
}

.navbar li:hover ,.dropdown-item:hover{
    background-color: indianred;
    border-color: white;
    color: white;
}


.navbar .navbar-toggler {
        background-color: indianred;
        border-color: white;
        color: white;
}


.navbar li.active {
    background-color: indianred !important;
    border-color: white !important;
    color: white !important;
}
