
{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% block content %}
   <div class="container" style="margin-top: 50px ; margin-bottom: 70px">
    <div class="raw">
        <div class="col-sm">
            <h1 style="color: indianred">FREE LANCER</h1>
            <p>this is just a demo page created by django technology,bootstrap,html,css,jS<br>
                for more info call <strong>SAYED ELBIEH </strong>+201003345516<br><strong>Email </strong>selbieh@gmail.com
            </p>
        </div>
    </div>
   </div>

{% endblock %}
