{% extends "base.html" %}
{% block content%}
        {% load static %}
    <div class="container" style="margin-top: 50px ; margin-bottom: 70px">
        {% if user.profile.pic %}
    <div >
        <img src="{{ user.profile.pic.url }}"  class="rounded-circle mx-auto d-block" style="width: 200px;height: 200px" > </br>
    </div>
{% else %}
        <img src="{% static "media/anyProfile/profile.png" %}"  class="rounded-circle mx-auto d-block" style="width: 200px;height: 200px" > </br>
{% endif %}

     <div class="container">
     <table class="table table-bordered table-striped" >
    <tbody>
      <tr>
        <th >FULL NAME</th>
        <td>{{ user }}  {{ user.last_name }}</td>
      </tr>
      <tr >
        <th >EMAIL</th>
        <td>{{ user.email }}</td>
      </tr>

      <tr >
        <th >PHONE</th>
        <td>{{  user.profile.phone  }}</td>
      </tr>
      <tr >
        <th >WHATSAPP</th>
        <td>{{ user.profile.whatsapp }}</td>
      </tr>
      <tr >
        <th >OTHER CONTACT</th>
        <td>{{ user.profile.other_contact }}</td>
      </tr>
           <tr>
        <th >RESUME</th>
        {% load static %}
        {% if user.profile.resume %}
        <td><a href="{{user.profile.resume.url }}" class=" btn btn-info" download> download</a></td>
        {% else %}
       <td> <p>NO RESUME AVAILABBLE </p> </td>
        {% endif %}
      </tr>

    <tr >
        <th id="titel">COUNTRY</th>
        <td>{{ user.profile.country }}</td>
      </tr>
    <tr >
        <th id="titel">GENDER</th>
        <td>{{ user.profile.Grender }}</td>
      </tr>
    <tr >
        <th id="titel">SPECIALTY</th>
        <td>{{ user.profile.specialty }}</td>
      </tr>

    </tbody>
  </table>
</div>
     <div class="container">
                 <a href="{% url "edit_profile"%}" role="button" class="btn btn-danger" >Edit MY PROFILE </a >
     </div>
    </div>

{% endblock %}

